// COLORS

$title-color: #4690ff;
$primary-color: #3f77cc;
$secondary-color: #084baf;
//Purple
//$primary-color: #992ae2;
//$secondary-color: #8900E1;
//Default
// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings
$white-text: rgb(255, 255, 255);

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
